<!DOCTYPE html>

<html>
	

	<head>
		<title>{% block title %}{% endblock title %}</title>

	</head>



	<body>
	
	<div id='topbar'>
	<a href="/home/">Home</a>
	<a href="/todos/">To do list</a>
	<a href="{% url 'new_todo' %}">Add a todo</a>
	<a href="/lessons/">Book a lesson</a>
	{% if user.is_authenticated == False %}
	<a href="/">Login</a>
	{% endif %}
	{% if user.is_authenticated %}
	<a href="/logout/">Logout</a>
	{% endif %}
	</div>
	

	{% block content %}
	{% endblock content %}
		

	</body>
	


</html>